<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98880515739-7q7s34tpjl699ggotgpohir23odjci4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98880515739-7q7s34tpjl699ggotgpohir23odjci4n</string>
	<key>API_KEY</key>
	<string>AIzaSyBb9Ai18v1U3UlxGgnpuVNNenFXSPpx1uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>98880515739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-c18f8</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-c18f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98880515739:ios:7ecbf6dff1fd769c6ba03e</string>
</dict>
</plist>